@model IPagedList<Post>
@{
	ViewData["Title"] = "Tác giả";
	var author = new Author();
	if (Model != null && Model.Count > 0)
		author = (Model[0].Author as Author);
}
<div>
	@if (!string.IsNullOrWhiteSpace(author.FullName))
	{
		<h2 class="text-primary mb-3">
			Những bài viết thuộc chủ đề '@author.FullName'
		</h2>
	}
	@foreach (var postList in Model)
	{
		<partial name="_PostList" model="postList"></partial>
	}
	<partial name="_Pager" model="@Model"></partial>
</div>
