@model IPagedList<Post>
@{
	ViewData["Title"] = "Thẻ";
	var tag = ViewData["Tag"] as Tag;
}
<div class="p-4">
	@if (tag != null)
	{
		<h2 class="text-primary mb-3">
			Những bài viết thuộc thẻ '@tag.Name'
		</h2>
	}
	@foreach (var postList in Model)
	{
		<partial name="_PostList" model="postList"></partial>
	}
	<partial name="_Pager" model=Model></partial>
</div>